<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card >
    <ion-button expand="full" color="dark" no-margin (click)="novoCurso()">
     Novo Curso
    </ion-button>
  </ion-card>

  <ion-list *ngFor="let type of listCursos">
      <ion-item (click)="editCurso(type.idCurso)">{{ type.nome }}</ion-item>
  </ion-list>
  
</ion-content>