<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Avaliação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">

<div>
  <!-- Logo -->
  <div padding-horizontal text-center>
    <div class="logo"></div>
    <h3 no-margin>
    </h3>
  </div>

  <!-- Register form -->
  <form [formGroup]="form" class="list-form">
    <ion-item no-padding >
      <ion-label position="floating">
        <ion-icon name="create" item-start></ion-icon>
        Nome da Avaliação
      </ion-label>
      <ion-input color="secondary" type="text" formControlName="nomeAvaliacao"></ion-input>
    </ion-item>
    <p ion-text class="text08" *ngIf="form.get('nomeAvaliacao').touched && form.get('nomeAvaliacao').hasError('required')">
      <ion-text color="warning">
        *Campo Obrigatório!
      </ion-text>
    </p>

    <ion-item no-padding >
      <ion-label position="floating">
        <ion-icon name="create" item-start></ion-icon>
        Data da Avaliação
      </ion-label>
     
      <ion-datetime doneText="Selecionar" cancelText="Cancelar" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" max="2020-10-31" formControlName="dataAvaliacao"></ion-datetime>
    </ion-item>
    <p ion-text class="text08" *ngIf="form.get('dataAvaliacao').touched && form.get('dataAvaliacao').hasError('required')">
      <ion-text color="warning">
        *Campo Obrigatório!
      </ion-text>
    </p>

    <ion-item no-padding >
      <ion-label position="floating">
        <ion-icon name="create" item-start></ion-icon>
        Curso
      </ion-label>
      <ion-select trackBy="idCurso" okText="Confirmar" cancelText="Cancelar" formControlName="idCurso">
        <ion-select-option [value]="curso.idCurso" *ngFor="let curso of listCursos">{{curso.nome + ' ' + curso.codigoCurso}}</ion-select-option>
      </ion-select>
    </ion-item>
    <p ion-text class="text08" *ngIf="form.get('idCurso').touched && form.get('idCurso').hasError('required')">
      <ion-text color="warning">
        *Campo Obrigatório!
      </ion-text>
    </p>

  </form>

  <div margin-top>

    <ion-grid class="btn-group">
      <ion-row>
        <ion-col size="6" *ngIf="pageType === 'edit'">
              <ion-button shape="round" expand="full" fill="outline" color="secundary" (click)="save()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="pageType === 'new'">
          <ion-button shape="round" expand="full" fill="outline" color="secundary" (click)="add()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button shape="round" expand="full" fill="outline" color="secundary" (click)="deleteAlert()">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


</div>
</ion-content>